@model DanilaWebApp.Models.PhoneCharacteristic

@{
     ;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h4>PhoneCharacteristic</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="type" class="control-label"></label>
                    <input asp-for="type" class="form-control" />
                    <span asp-validation-for="type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="opSystem" class="control-label"></label>
                    <input asp-for="opSystem" class="form-control" />
                    <span asp-validation-for="opSystem" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ScreenType" class="control-label"></label>
                    <input asp-for="ScreenType" class="form-control" />
                    <span asp-validation-for="ScreenType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneWidth" class="control-label"></label>
                    <input asp-for="PhoneWidth" class="form-control" />
                    <span asp-validation-for="PhoneWidth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneHeight" class="control-label"></label>
                    <input asp-for="PhoneHeight" class="form-control" />
                    <span asp-validation-for="PhoneHeight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneDepth" class="control-label"></label>
                    <input asp-for="PhoneDepth" class="form-control" />
                    <span asp-validation-for="PhoneDepth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CpuModel" class="control-label"></label>
                    <input asp-for="CpuModel" class="form-control" />
                    <span asp-validation-for="CpuModel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
</environment>

<environment include="Development">
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"
            crossorigin="anonymous"
            integrity="sha384-rZfj/ogBloos6wzLGpPkkOr/gpkBNLZ6b6yLy4o+ok+t/SAKlL5mvXLr0OXNi1Hp">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.9/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
            crossorigin="anonymous"
            integrity="sha384-ifv0TYDWxBHzvAk2Z0n8R434FL1Rlv/Av18DXE43N/1rvHyOG4izKst0f2iSLdds">
    </script>
</environment>